body {
    margin: 0;
    padding: 0;
}

/* --- navbar --- */

.navbar-brand {
    margin-left: 0.05rem;
    margin-top: 0.25rem;
    border: solid 2px;
    border-color: #000000;
    border-radius: 0.25rem;
    padding: .40rem .75rem;
}

.navbar-brand:hover {
    border-color: #b87333;
}

.navbar .navbar-toggler {
    border: solid 2px;
    border-color: #000000;
}

.navbar .navbar-toggler:hover {
    border-color: #b87333;
}

.dropdown a {
    font-weight: 500;
}

.navbar-nav a {
    font-weight: 500;
}

.dropdown-menu {
    border: solid 2px;
    color: #000000;
}

.dropdown-menu:hover {
    color: #b87333;
}

.navbar-collapse {
    margin-left: 20px;
}

.nav-item a {
    color: #000000;
}

.navbar-light .navbar-nav .nav-link {
    color: #000000;
}

/* --- jumbotron hero image --- */

.jumbotron-container {
    margin-top: 160px;
}

.jumbotron {
    background-image: url("https://i.imgur.com/ysdDc1S.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.jumbotron h1,
.jumbotron p {
    color: #fafafa;
}

.jumbotron-divider {
    background-color: #b87333;
}

.badge-light {
    background-color: #b87333;
    border: none;
    color: #fafafa;
}

.quote-landing {
    background-color: #b73333;
    color: #fafafa;
    text-align: center;
    font-style: italic;
    font-size: 1.3rem;
    margin: 0;
    padding: 10px;
    border-radius: 0.25rem;
}

/* --- about us --- */




/* --- media queries --- */

@media (min-width: 992px) {
    .quote-landing {
     font-size: 2rem;   
    }
}