@import url('https://fonts.googleapis.com/css?family=Lora:100,200,300,400,500,600,700|Montserrat:100,200,300,400,500&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
}

/* all pages */

.main-container {
    margin-top: 180px;
    padding: 0;
}

.section-divider {
    background-color: #b22222;
    margin: 1.5rem;
}

.uppercase {
    text-transform: uppercase;
}

/* buttons */

.my-button {
    margin-top: 1rem;
    background-color: #b87333;
    color: #fff;
}

.my-button:hover {
    background-color: #333333;
    border-color: #333333;
    color: #fff;
}

/* borders */

.my-border {
    border: 2px solid #b87333;
    border-radius: 0.25rem;
}

/* headers */

.headers-landing {
    position: relative;
    text-align: center;
    padding: 0;
}

.ph-landing {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 0.5rem 2rem;
    color: #000;
    background-color: #fff;
    opacity: 0.75;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1rem;
    border-radius: 0.25rem;
}

/* all forms */

.form-heading {
    color: #b22222;
    font-family: "Lora", sans-serif;
    font-weight: bolder;
    text-transform: uppercase;
    margin-bottom: 2rem;
}

input[type=text],
input[type=email],
.form-control {
    color: #495057;
    border: 2px solid #b87333;
    border-radius: 0.25rem;
    width: 100%;
    margin-bottom: 0.25rem;
}

/* images */

.ourcoffees-img,
.brewguides-img,
.ourcourses-img,
.contact-img {
    border-radius: 0.25rem;
    width: 100%;
    height: auto;
}

/* navbar */

.navbar-brand {
    margin-left: 0.05rem;
    margin-top: 0.25rem;
    padding: .40rem .75rem;
}

.navbar-light {
    background-color: #fff;
}

.navbar fixed-top {
    position: fixed !important;
}

.navbar-brand:hover {
    border-color: #b87333;
}

.navbar .navbar-toggler {
    border: 2px solid #003333;
}

.navbar .navbar-toggler:hover {
    border-color: #b87333;
}

.dropdown a {
    font-weight: 500;
}

.navbar-nav a {
    font-weight: 500;
}

.dropdown-menu {
    border: solid 2px;
    color: #003333;
}

.dropdown-menu:hover {
    color: #b87333;
}

.navbar-collapse {
    margin-left: 20px;
}

.nav-item a {
    color: #000;
}

.navbar-light .navbar-nav .nav-link {
    color: #000;
}

/* jumbotron landing-img */

.landing-container {
    margin-top: 155px;
    background-image: url("https://i.imgur.com/kNQRjOg.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 0.25rem;
    position: relative;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    display: flex;
    justify-content: center;
}

h1 {
    color: #fff;
    text-align: center;
}

.jumbotron {
    background-color: rgba(51, 51, 51, 0.25);
    padding: 0;
    margin: 0;
}

.jumbotron p {
    color: #fff;
    font-size: 1rem;
    text-align: center;
    padding: 1rem;
}

.badge-light {
    background-color: #b87333;
    border: none;
    color: #fff;
    font-size: 1.5rem;
    margin-left: 0.25rem;
}

.badge-light:hover {
    background-color: #333333;
    border: none;
    color: #fff;
}

.quote-landing {
    color: #b22222;
    text-align: center;
    font-family: "Lora", sans-serif;
    font-size: 1rem;
    margin-top: 1rem;
}

.quote {
    margin: 1.8rem 0;
}

.quote i {
    color: #b22222;
    font-size: 2rem;
}

/* about us */

.about {
    margin-left: 1rem;
    color: #003333;
}

.about p {
    font-size: 1.5rem;
}

/* our coffees - landing */

.coffees-text {
    background-color: #003333;
    color: #fff;
    border-radius: 0.25rem;
}

.coffees-text p {
    margin-left: 1rem;
    padding-top: 1.5rem;
}

.linkcoffees {
    text-decoration: none;
    color: #b22222;
    font-weight: bold;
}

.linkcoffees a:hover {
    text-decoration: none;
    color: #b87333;
    font-weight: bold;
}

/* coffees.html */

.coffees-container {
    margin-top: 2rem;
    background-color: #003333;
    color: #fff;
    border-radius: 0.25rem;
}

.coffee-text p {
    padding: 1rem;
}

.card-header,
.card-body {
    background-color: #333333;
    color: #fff;
}

/* coffees-single and coffees-blends.html */

.checked {
    color: #b22222;
}

.coffee-rating {
    margin-bottom: 0;
}

.inline-stars {
    padding-right: 3rem;
}

/* courses-landing */

.sca {
    background-color: #b22222;
    border-radius: 0.25rem;
    color: #fff;
    margin-bottom: 1rem;
}

.sca-section {
    margin: 0;
    padding: 0;
}
.sca p {
    padding: 0 1.5rem;
    margin-top: 2rem;
}

.sca-button {
    margin-bottom: 1.5rem;
}

/* brewing-landing */

.brew-cards {
    background-color: #fff;
    border: 3px solid #b87333;
    border-radius: 0.25rem;
}

.brew-cards:hover {
    background-color: #fff;
    border: 3px solid #003333;
}

.brew-cards a {
    color: #000;
    font-weight: bold;
    text-decoration: none;
    background-color: #fff;
}

.brew-cards a:hover {
    font-weight: bold;
    color: #003333;
}

/* brewing guides (all .htmls) */

.brewing-container {
    padding: 1rem;
    background-color: #333333;
    color: #fff;
    border: 1px solid #669966;
    border-radius: 0.25rem;
}

.brewing-container h2 {
    font-family: "Lora", sans-serif;
}

.brewing-download {
    padding-top: 0.5rem;
    font-weight: bold;
    text-align: center;
}

.brewing-download a {
    text-decoration: none;
    color: #b22222;
}

/* brewing.html */

.brewing-div {
    background-color: #333333;
    border-radius: 0.25rem;
    color: #fff;
    margin-top: 0;
    padding-bottom: 1rem;
}

.brew-cardsland {
    background-color: #fff;
    color: #000;
    font-weight: bold;
    border-radius: 0.25rem;
    margin: 1rem;
    padding: 0.5rem;
}

.cardsbrew {
    margin: 1rem;
}

.brew-cardsland a{
    color: #003333;
    text-decoration: none;
}

.brew-cardsland a:hover {
    font-size: 1.5rem;
    text-decoration: none;
}

.bluefont {
    color: #003333;
    font-weight: 500;
}

/* carousel */

.carousel-container {
    padding: 0;
}

.carousel-heading h2 {
    margin: 2rem;
}

.carousel-caption p{
    width: inherit;
    font-size: 1.5rem;
    background-color: rgba(51, 51, 51, 0.75);
    color: #fff;
}

/* quotes */

.blockquote {
    font-size: 0.85rem;
    padding: 0.25rem;
}

.quotes-container {
    margin-top: 2rem;
    background-color: #000;
    border-radius: 0.25rem;
    color: #fff;
    padding-bottom: 2rem;
}

/* signup-landing */

.signup-container {
    margin: 1rem 0;
    padding: 0;
}

/* intro.html */

.media-container {
    margin: 0;
    padding: 0;
}

.intro,
.barista,
.brewing {
    border-left: 2px solid #b87333;
    padding: 1rem;
}

.media-intro img{
    border-radius: 0.25rem;
    padding-left: 1rem;
}



/* contact.html */

.contact-us {
    margin-top: 2rem;
    background-color: #333333;
    color: #fff;
    border-radius: 0.25rem;
}

.contact-form {
    margin-bottom: 1.5rem;
}

.call-us {
    font-size: 20px;
}

.contact-form p {
    padding: 0.5rem;
    margin-bottom: 0;
    font-size: 1rem;
    text-align: center;
}

.bank-hol {
    font-size: 0.75rem;
}

.fas {
    color: #b22222;
    margin: 0.5rem 0;
}

/* footer */

.footer {
    background-color: #003333;
    color: #fff;
    font-size: 0.5rem;
    font-family: "Montserrat", sans-serif;
    margin-top: 2rem;
    padding-top: 2rem;
}

.fab {
    color: #fff;
    font-size: 14px;
}

.fab:hover {
    font-size: x-large;
}

.my-info p {
    font-size: 14px;
}

/* media queries */

@media (min-width: 768px) {
    .quote-landing {
        font-size: 2.5rem;
    }
    .footer {
        font-size: 1.5rem;
    }
    .fab {
        font-size: 1.5rem;
    }
    .ph-landing {
        font-size: 3rem;
    }
    .contact-info {
        margin-right: 0;
    }
    .landingbrew-cards {
        margin-right: 2rem;
    }
    .cardsbrew {
        padding: 0.5rem;
    }

    .ourcoffees-img,
    .brewguides-img,
    .ourcourses-img,
    .contact-img {
        max-height: 7rem;
    }

    .list-inline-item:not(:last-child) {
    padding-right: 2rem;
    margin-right: 0;
    }

    .card .card-single {
        margin-bottom: 2rem;
    }
}

@media (max-width: 576px) {
    .carousel-inner img {
        width: 334px;
        height: 229px;
    }
    .navbar-brand img {
        max-height: 80px;
        max-width: 80px;
    }
    .main-container {
        margin-top: 140px;
    }
}